* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 130px;
    background-color: #353436;
    font-family: sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 15px;
}

.menu a {
    color: #fff;
    display: block;

}
.menu a:hover {
    color: #e2d1a6;
}

.menu li {
    padding: 0 10px;
}

#menu__toggle {
    display: none;
}

.logo {
    padding: 22px;
    width: 100%;
    height: 20%;
}

.logo img {
    max-width: 100%;
}

/* reserve (thing on right top) */
.reserve {
    width: 97%;
    text-align: right;
    position: absolute;
    top: 1.2vh;
    font-family: PlayfairDisplay, serif;
}

.reserve button {
    border: none;
    background: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.reserve button:hover {
    color: #e2d1a6;
}

.reserve a {
    color: #fff;
}

.reserve a:hover {
    color: #e2d1a6;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 9900;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #353436;
}

.modal-header .modal-header__title {
    margin: 0 auto;
    font-size: 1rem;
    color: #fff;
}

.modal-header .close-button {
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
}

/* popup form */
.login-page {
    background: #353436;
    color: #fff;
}

.login-page button:hover {
    color: #000;
}

.form {
    position: relative;
    z-index: 1;
    padding: 45px;
    display: flex;
}

.form input {
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 1.125rem;
    color: #b5b4b4;
}

.form h2 {
    margin: 15px;
    text-align: left;
}

.form button {
    text-transform: uppercase;
    background: #000;
    width: 100%;
    padding: 15px;
    font-size: 1.5625rem;
    margin: 0 0 15px 0;
}

.form button:hover, .form button:active, .form button:focus {
    background-color: #e2d1a6;
}

.form a,
.preference {
    display: flex;
}

.form a,
.form label {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    color: #b5b4b4;
    text-transform: none;
}

.login-form {
    flex: 50%;
    margin: 0 100px auto auto;
}

.login-form__body p {
    line-height: 2;
    text-align: left;
}

.register-form {
    flex: 50%;
}

.register-form__body p {
    line-height: 2.4;
}

#data,
#newsletter,
#newsletters{
    width: 5%;
    margin-right: 5px;
}

/*popup overlay*/
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.9);
    pointer-events: none;
}

#overlay.active {
    opacity: 0.5;
    pointer-events: all;
    z-index: 5;
}

/* navbar */
.submenu {
    display: none;
}

.submenu a{
    border-bottom: 1px solid #fff;
    line-height: 2.5rem;
}

.submenu .last a {
    border-bottom: 0;
}

.submenu a:hover {
    width: 100%;
    content: "";
    display: block;
    position: relative;
}

.dropdown__menu {
    float: left;
    overflow: hidden;
}

.submenu-active .submenu {
    display: block;
    position: absolute;
    z-index: 999;
    background: #353436;
    list-style: none;
}

/* slider */
.slider {
    overflow: hidden;
    position: relative;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

/*text block on slides*/
.box {
    position: absolute;
    background: #fff;
    opacity: 0.8;
    padding-left: 15px;
    right: 0;
    bottom: 50%;
}

.box h2 {
    text-transform: uppercase;
    font-size: 1.7vw;
    color: #020202;
}

.box p {
    width: 25vw;
    font-size: 1.1vw;
    font-family: sans-serif;
    color: #000;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-manual,
.navigation-auto {
    bottom: 100px;
}

.manual-btn {
    border: 2px solid #e2d1a6;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #e2d1a6;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #e2d1a6;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #e2d1a6;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #e2d1a6;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #e2d1a6;
}

/*dropup*/
.dropup {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position:absolute;
    bottom:0;
}

.dropup__content {
    align-items: center;
}

.dropbtn {

    font-size: 2rem;
    cursor: pointer;
    border: none;
    width: 60px;
}

.show {
    display: flex;
    justify-content: center;
}

.dropup__content {
    display: none;
}

.dropup__items {
    width: 30%;
}

.dropup__items h4 {
    font-size: 2em;
    padding: 0 10px;
}

.dropup__items p {
    font-size: 1.2em;
    padding: 0 15px;
}

.dropup__items span {
    float: right;
    padding: 10px 15px;
}

.dropup__items:first-child {
    background-color: #e2d1a6;
}

.dropup__items:nth-child(2) {
    background-color: #fff;
}
.dropup__items:last-child {
    background-color: #000;
    color: #fff;
}

/* footer */
.pageFooter {
    padding-top: 40px;
    background-color: #353436;
    color: #fff;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* block elements*/
.block h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.block p {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    line-height: 1.52;
    color:  #b5b4b4;
    width: 90%;
}

.newsletter input {
    margin: 0 0 15px;
    padding: 15px;
    font-size: 0.875rem;
}

.newsletter label {
    font-size: 0.75rem;
    color: #b5b4b4;
}

.newsletter button {
    text-transform: uppercase;
    background: #000;
    width: 100%;
    height: 6vh;
    border: 0;
    color: #fff;
    font-size: 1.0625rem;
    cursor: pointer;
}

.newsletter button:hover {
    background: #e2d1a6;
}

.newsletter h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* legal row */
.legal {
    width: 100%;
    display: inline-flex;
    padding: 25px 0;
}

.legal p {
    color: #b5b4b4;
    display: inline-flex;
    font-size: 0.715rem;
    padding: 5px;
}

.info {
    width: 60%;
}

.social {
    width: 15%;
}

.social a {
    color: #fff;
    padding: 10px;
}

.social a:hover,
.languages a:hover {
    color: #e2d1a6;
}

.social i {
    font-size: 1.25rem;
}

.languages a {
    color: #b5b4b4;
    padding: 5px;
}

.languages span {
    align-items: center;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/*responsive area riservata popup menu*/
@media only screen and (max-width: 1250px) {
    .modal-header__title {
        font-size: 0.5rem;
    }

    .login-form {
        margin: 0;
    }

    .login-form h2,
    .register-form h2{
        font-size: 14px;
    }

    .login-form__body,
    .register-form__body{
        font-size: 8px;
    }

    .login-form__body {
        margin: 10px 0;
    }

    .form {
        flex-direction: column;
    }
}

@media only screen and (max-width: 890px) {

/*hamburger menu*/
    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        right: 0;
    }

    .submenu-active .submenu {
        position: relative;
        background-color: #999;
        top: 20px;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 9999;
        right: 1%;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu {
        display: block;
        position: fixed;
        z-index: 9998;
        overflow: auto;
        text-align: center;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #353436;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu li {
        padding: 25px 0;
    }

    /*social icons*/
    .fa-facebook-square:before {
        content: "\f082";
        font-size: 25px;
    }

    .fa-instagram:before {
        content: "\f16d";
        font-size: 25px;
    }

    .fa-pinterest-p:before {
        content: "\f231";
        font-size: 25px;
    }
}

@media only screen and (max-width: 450px) {
    .show {
        font-size: 0.7em;
    }
}

/*responsive footer*/
@media only screen and (max-width: 700px) {

    .dropup__items h4 {
        font-size: 0.9em;
    }

    .dropup__items p,
    .dropup__items span  {
        font-size: 0.8em;
    }

    .row {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter_body input {
        width: 100%;
    }

    .newsletter_body button {
        height: 9vh;
        font-size: 1.3em;
    }

    .toggle:checked + .menu {
        display: block;
    }

    .block {
        margin: 15px 0;
    }

    .box p {
        font-size: 1.8vw;
    }
}