* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 130px;
    background-color: #353436;
    font-family: sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;
    cursor: pointer;
    justify-content: flex-end;
}

.menu a {
    color: #fff;
   /* outline: none; */
    display: block;
}
.menu a:hover {
    color: #e2d1a6;
}

.menu li {
    padding-right: 2em;
}

.menu li.sub_item a {
    z-index: 999;
}

.logo {
    padding: 22px;
    width: 100%;
    height: 20%;
}

.logo img {
    max-width: 100%;
}

/* reserve (thing on right top) */
.reserve {
    width: 97%;
    text-align: right;
    position: absolute;
    top: 1.2vh;
    font-family: PlayfairDisplay, serif;
}

.reserve button {
    border: none;
    background: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
   /* outline: none; */
}

.reserve button:hover {
    color: #e2d1a6;
}

.reserve a {
    color: #fff;
}

.reserve a:hover {
    color: #e2d1a6;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    overflow: hidden;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #353436;
}

.modal-header .modal-header__title {
    margin: 0 auto;
    font-size: 1rem;
    color: #fff;
}

.modal-header .close-button {
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
}

/* popup form */
.login-page {
    padding: 10px 15px;
    display: flex;
    background: #353436;
    color: #fff;
}

.login-page button:hover {
    color: #000;
}

.form {
    position: relative;
    z-index: 1;
    padding: 45px;
    text-align: center;
    display: flex;
}

.form input {
  /*  outline: 0; */
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 1.125rem;
    color: #b5b4b4;
}

.form h2 {
    margin: 15px;
    text-align: left;
}

.login-form {
    flex: 50%;
    margin: 0 100px auto auto;
}

.login-form__body p {
    line-height: 2;
    text-align: left;
}

.register-form {
    flex: 50%;
}

.register-form__body p {
    line-height: 2.4;
}

.form button {
    text-transform: uppercase;
   /* outline: 0; */
    background: #000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.5625rem;
    cursor: pointer;
    margin: 0 0 15px 0;
    line-height: 1.33;
}

.form button:hover, .form button:active, .form button:focus {
    background-color: #e2d1a6;
}

.form a,
.preference {
    display: flex;
}

.form a,
.form label {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    color: #b5b4b4;
    text-transform: none;
}

#data,
#newsletter,
#newsletters{
    width: 5%;
    margin-right: 10px;
}

/*popup overlay*/
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.9);
    pointer-events: none;
}

#overlay.active {
    opacity: 0.5;
    pointer-events: all;
    z-index: 5;
}

/* navbar */
.submenu {
    list-style-type: none;
    display: none;
}

.submenu li {
    width: 100%;
    padding: 0 10px;
}

.submenu a{
    border-bottom: 1px solid #fff;
    line-height: 2.5rem;
}

.submenu .last a {
    border-bottom: 0;
}

.submenu a:hover {
    width: 100%;
    content: "";
    display: block;
    position: relative;
}

.dropdown__menu {
    float: left;
    overflow: hidden;
}

.has-submenu i {
    font-size: 0.75rem;
}

.has-submenu > a::after {
    font-size: 0.75rem;
    line-height: 16px;
    font-weight: 900;
    padding-left: 5px;
}

.button {
    order: 2;
}

.submenu-active .submenu {
    display: block;
    position: absolute;
    z-index: 999;
    background: #353436;
}

.item {
    height: auto;
}

.active .item {
    display: block;
}

.item.button {
    padding: 9px 5px;
}

/* slider */
.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 100%;
    height: 970px;
}

/*text block on slides*/
.box {
    position: absolute;
    background: #fff;
    opacity: 0.9;
    padding-left: 15px;
    right: 0;
    bottom: 50%;
}

.box h1 {
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #020202;
}

.box p {
    width: 25vw;
    font-size: 1.1vw;
    font-family: sans-serif;
    color: #000;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-manual,
.navigation-auto {
    position: absolute;
    bottom: 100px;
}

.manual-btn {
    border: 2px solid #e2d1a6;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #e2d1a6;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #e2d1a6;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #e2d1a6;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #e2d1a6;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #e2d1a6;
}

/*dropup*/
.dropup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position:absolute;
    bottom:0;
}

.dropup__content {
    align-items: center;
}

.dropbtn {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
   /* outline: none; */
    border: none;
    width: 60px;
}

.show {
    display: flex;
    width: 100%;
    justify-content: center;
   /* height: 20vh;*/
}

.dropup__content {
       display: none;
}

.dropup__items {
    width: 30%;
}

.dropup__items h4 {
    font-size: 1.6em;
    padding: 0 10px;
}

.dropup__items p {
    font-size: 1.2em;
    padding: 0 15px;
}

.dropup__items span {
    float: right;
    padding: 0 15px;
}

.dropup__items:first-child {
    background-color: #e2d1a6;
}

.dropup__items:nth-child(2) {
    background-color: #fff;
}
.dropup__items:last-child {
    background-color: #000;
    color: #fff;
}

/* footer */
.pageFooter {
    width: 100%;
    padding-top: 40px;
    height: auto;
    background-color: #353436;
    color: #fff;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* block elements*/
.block h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.block p {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    line-height: 1.52;
    color:  #b5b4b4;
    width: 90%;
}

.newsletter input {
   /* outline: 0; */
    background: #fff;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 0.875rem;
    color: #b5b4b4;
}

.newsletter label {
    font-size: 0.75rem;
    color: #b5b4b4;
}

.newsletter button {
    text-transform: uppercase;
    /*outline: 0; */
    background: #000;
    width: 100%;
    height: 6vh;
    border: 0;
    color: #fff;
    font-size: 1.0625rem;
    cursor: pointer;
}

.newsletter button:hover {
    background: #e2d1a6;
}

.newsletter h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* legal row */
.legal {
    width: 100%;
    display: inline-flex;
    padding: 25px 0;
}

.legal p {
    color: #b5b4b4;
    display: inline-flex;
    font-size: 0.715rem;
    padding: 5px;
}

.info {
    width: 60%;
}

.social {
    width: 15%;
}

.social a {
    color: #fff;
    padding: 10px;
}

.social a:hover,
.languages a:hover {
    color: #e2d1a6;
}

.social i {
    font-size: 1.25rem;
}

.languages {
    width: 20%;
}

.languages a {
    color: #b5b4b4;
    padding: 5px;
}

.languages span {
    align-items: center;
}

.toggle {
    display: none;
}

.toggle a {
    color: #fff;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu__toggle:checked ~ .toggle > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .toggle > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .toggle > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .submenu {
    display: block;
    left: 0;
  }

.button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

@media only screen and (min-width: 1200px) {

    .main {
        min-width: 100%;
    }

    .slide img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 890px) {

    .toggle {
        position: absolute;
        cursor: pointer;
        right: 1%;
        display: block;
        top: 75px;
    }

    .modal-header__title {
        font-size: 0.5rem;
    }

    .login-form {
        margin: 0;
        overflow: hidden !important;
    }

    .login-form h2,
    .register-form h2{
        font-size: 14px;
    }

    .login-form__body,
    .register-form__body{
        font-size: 8px;
    }

    .login-form__body {
        margin: 10px 0;
    }

    .form {
        flex-direction: column;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #353436;
        font-size: 1.2rem;
        align-items: center;
    }

    .menu a {
        display: block;
        height: 10vh;
    }

    .slide img {
        max-width: 100%;
        height: auto;
    }

    .dropup__items h4 {
        font-size: 1.3em;
    }

    .dropup__items p {
        font-size: 0.8em;
    }

    /*social icons*/
    .fa-facebook-square:before {
        content: "\f082";
        font-size: 25px;
    }

    .fa-instagram:before {
        content: "\f16d";
        font-size: 25px;
    }

    .fa-pinterest-p:before {
        content: "\f231";
        font-size: 25px;
    }
}

@media only screen and (max-width: 420px) {

    .slide img {
        max-width: 100%;
        height: auto;
    }
}

/*responsive footer*/
@media only screen and (max-width: 700px) {

    .dropup__items h4 {
        font-size: 0.9em;
    }

    .dropup__items p,
    .dropup__items span  {
        font-size: 0.8em;
    }

    .row {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter_body input {
        width: 100%;
    }

    .newsletter_body button {
        height: 9vh;
        font-size: 1.3em;
    }

    .toggle:checked + .menu {
        display: block;
    }
    .block {
        margin: 15px 0;
    }
}